<div class="left float">
    <aside>
    </aside>

</div>
<div class="main float">
    <article>




        <h1>{{info.name}}</h1>

        <h4>size:{{info.size}}</h4>
        <h4>type:{{info.type}}</h4>
        <h4>extension:{{info.picture}}</h4>

        <td><img src="gfx/{{info.picture}}.png" alt="zly link do obrazka" width="150" height="150"></td>
        <a href="/info?id={{info.name}}"> podglad pliku</a>
    </article>
</div>